// footer
footer.footer
  .wrapper 
    .footer__container 
      ul.footer__list 
        li 
          svg(class="icon-home")
            use(xlink:href="img/sprite.svg#home")
          span 30 Alimkent 1P., Tashkent, Uzbekistan 100204
        li 
          a(href="tel:+998712050828") 
            svg(class="icon-tel")
              use(xlink:href="img/sprite.svg#tel")
            span +998712050828
        li 
          svg(class="icon-people2")
            use(xlink:href="img/sprite.svg#people2")
          span ООО Mobistream
      .footer__social 
        .footer__social-row 
          a(href="#").footer__item 
            svg(class="icon-fb")
              use(xlink:href="img/sprite.svg#fb")
          a(href="#").footer__item 
            svg(class="icon-tw")
              use(xlink:href="img/sprite.svg#tw")
          a(href="#").footer__item 
            svg(class="icon-insta")
              use(xlink:href="img/sprite.svg#insta")
//	/footer