extends core/base.pug

block title 
  title Навигаця по страницам

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      .welcome
        .wrapper 
          .welcome__bg 
            picture
              source(media="(min-width: 991px)", srcset="img/welcome_bg.jpg, img/welcome_bg@2x.jpg 2x")
              source(media="(min-width: 501px)", srcset="img/welcome_bg-md.jpg, img/welcome_bg-md@2x.jpg 2x")
              source(media="(max-width: 500px)", srcset="img/welcome_bg-sm.jpg, img/welcome_bg-sm@2x.jpg 2x")
              img(src="img/welcome_bg.jpg", alt="")
          .welcome__content 
            a(href="#").welcome__logo 
              img(src="img/logo.svg", alt="")
            .welcome__title Непрерывный поток музыки
            a(href="#").welcome__btn ВОЙТИ
      // /welcome

      // about
      .about
        .wrapper 
          .row 
            .about__head 
              .about__title Muzstream - это современный сервис потокового вещания
            .about__lists 
              ul.about__list 
                li 
                  svg(class="icon-note")
                    use(xlink:href="img/sprite.svg#note")
                  span 1000+ треков
                li 
                  svg(class="icon-microphone")
                    use(xlink:href="img/sprite.svg#microphone")
                  span 100+ исполнителей
                li 
                  svg(class="icon-people")
                    use(xlink:href="img/sprite.svg#people")
                  span поддержка <br>национальной <br>культуры
              ul.about__list 
                li 
                  svg(class="icon-new")
                    use(xlink:href="img/sprite.svg#new")
                  span свежие хиты
                li 
                  svg(class="icon-notes")
                    use(xlink:href="img/sprite.svg#notes")
                  span персональные <br>плейлисты
                li 
                  svg(class="icon-devices")
                    use(xlink:href="img/sprite.svg#devices")
                  span слушай с любого <br>устройства
      // /about

    include core/footer.pug
