/* about */
.about { 
  flex-grow: 1;
  padding: 85px 0;
  background: linear-gradient(to bottom, #64A44D -16.31%, #50A1A1 53.02%, #2F66C6 118.15%);
  color: #fff;
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
  &__head {
    @include col(5);
    @include col-lg(12);
  }
  &__title {
    max-width: 370px;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
  }
  &__lists {
    @include col(6);
    @include col-lg(12);
    display: flex;
    justify-content: space-between;
  }
  &__list {
    max-width: 400px;
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    margin-top: -60px;
    li {
      display: flex;
      // align-items: center;
      margin-top: 60px;
      svg {
        flex-shrink: 0;
        max-width: 31px;
        max-height: 30px;
        margin-right: 20px;
        margin-top: 5px;
        &.icon-note {
          fill: #fff;
        }
        &.icon-microphone {
          fill: #fff;
        }
        &.icon-people {
          fill: #fff;
        }
        &.icon-new {
          stroke: #fff;
          fill: transparent;
        }
        &.icon-notes {
          fill: #fff;
        }
        &.icon-devices {
          stroke: #fff;
          fill: transparent;
        }
      }
      span {

      }
    }
  }
  @media (max-width: $break_lg) {
    &__head {
      margin-bottom: 110px;
    }
    &__title {
      max-width: none;
    }
    &__lists {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (max-width: $break_md) {
    padding: 64px 0 97px; 
    &__list {
      width: 50%;
      font-size: 20px;
      line-height: 20px;
      margin-top: -50px;
      li {
        margin-top: 50px;
      }
    }
  }
  @media (max-width: $break_xs) {
    padding: 23px 0 43px;
    &__head {
      margin-bottom: 35px;
    }
    &__title {
      font-size: 32px;
      line-height: 36px;
    }
    &__lists {
      flex-wrap: wrap;
    }
    &__list {
      width: 100%;
      margin-top: 0;
      li {
        margin-top: 0;
        margin-bottom: 47px;
        svg {
          max-width: 28px;
        }
      }
    }
  }
}
/* /about */